body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: indigo;
    margin: 15px;
    padding: 20px;
    
}

header {
 
    text-decoration: none;
    border: 3px solid purple;
    color: white;
    border-radius: 13px;
    padding: 10px;
}


.time {
    margin: 10px;
    padding: 10px;
}

.date {
    margin: 10px;
    padding: 10px;
}

.remainingtime {
    margin: 10px;
    padding: 10px;
}


#boxList {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blue;
    color: white;
    border-radius: 10px;
    display: block;
    width: 45px;
    height: 45px;
    font-size: 32px;
    text-align: center;
}

.formsection {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin: 10px;
    border: 3px solid indigo;
    border-radius: 10px;
    padding: 15px;
    background-color: lightcoral;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.lastsection {
    padding: 10px;
    margin: 12px;
    border-radius: 10px;
    border: 3px solid indigo;
}


a:hover {
    text-decoration: none;
    background-color: lightblue;
}

a:active {
    background-color: orange;
}

a:link {
    text-decoration: none;
}
